<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login-page_demo.css">
    <link rel="stylesheet" href="css/login-page_style.css">
    <link rel="stylesheet" href="css/login-page_responsive.css">
</head>

<body>

    <div class="login-page_container">

        <!--       Sign in     -->

        <div class="login-section page-side section-ope">
            <div class="section-page_intro">
                <img src="Image/signin-icon-black.png" alt="signin-icon">
                <p class="section-page-intro_title">Sign In</p>
            </div>

            <div class="login-form-area">
                <p class="form-title">Sign In</p>
                <div class="section-form">
                    <form class="login-form">
                        <label class="login-page_label">
                            <input class="login-page_input" type="email" name="email" ng-model="email" autocomplete="off" required>
                            <span class="login-page_placeholder">Email</span>
                        </label>
                        <label class="login-page_label">
                            <input class="login-page_input" type="password" ng-model="password" name="password" required>
                            <span class="login-page_placeholder">Password</span>
                        </label>
                        <div class="login-section_submit">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google fa-fw"></i></a></li>
                            </ul>
                            <div class="login-page-submit-btn">
                                <input type="submit" name="submit-login" value="submit" ng-click="login()">
                            </div>
                        </div>
                        <div class="login-page_forget">
                            <a href="">Forget Your Password ?</a>
                        </div>
                    </form>

                    <form class="forget-form">
                        <p class="forget-title">Forget Your Password</p>
                        <label class="login-page_label">
                            <input class="login-page_input" type="email" name="email" autocomplete="off" required>
                            <span class="login-page_placeholder">Email</span>
                        </label>
                        <div class="login-section_submit">
                            <div class="login-page-submit-btn"><input type="submit" name="submit-login" value="submit"></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!--       Sign up     -->

        <div class="signup-section page-side section-clos">
            <div class="section-page_intro">
                <img src="Image/signup-icon.png" alt="signup-icon">
                <p class="section-page-intro_title">Sign Up</p>
            </div>

            <div class="signup-form-area">
                <p class="form-title">Sign Up</p>
                <div class="section-form">
                    <form class="signup-form">
                       
                        <label class="login-page_label">
                            <input class="login-page_input" type="email" name="email" ng-model="email" autocomplete="off" required>
                            <span class="login-page_placeholder">Email</span>
                        </label>
                        <label class="login-page_label">
                            <input class="login-page_input" type="password" name="password" ng-model="password" required>
                            <span class="login-page_placeholder">Password</span>
                        </label>
                        <label class="login-page_label">
                            <input class="login-page_input" type="password" name="confirm password" ng-model="cnfrmpassword" required>
                            <span class="login-page_placeholder">Confirm Password</span>
                        </label>
                        <div class="signup-section_submit">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google fa-fw"></i></a></li>
                            </ul>
                            <div class="signup-page-submit-btn">
                                <input type="submit" name="submit-signup" value="submit" ng-click=checkDetails()>
                            </div>
                        </div>
                    </form>
					
					<form class="welcome-form xxx">
                       <label class="login-page_label">
                            <input class="login-page_input" type="text" name="full name" ng-model="name" autocomplete="off" required>
                            <span class="login-page_placeholder">Full Name</span>
                        </label>
						<label class="login-page_label">
                            <input class="login-page_input" type="email" name="email" ng-model="email" autocomplete="off" required>
                            <span class="login-page_placeholder">Email</span>
                        </label>
                        <label class="login-page_label">
                            <input class="login-page_input" id="phone" type="number" name="mobile" ng-model="phone" autocomplete="off" required>
                            <span class="login-page_placeholder">Mobile Number</span>
                        </label>
						<label class="login-page_label">
                            <input class="login-page_input" id="whatsappNo" type="number" pattern="[1-9]{1}[0-9]{9}" maxlength="10" ng-model="whatsappNo" autocomplete="off" required>
                            <span class="login-page_placeholder">Whatsapp Number</span>
                        </label>
                       <label class="login-page_label">
                            <input class="login-page_input" type="text" name="profession"  ng-model="profession" autocomplete="off" required>
                            <span class="login-page_placeholder">Profession</span>
                        </label>
						<label class="login-page_label">
                            <span class="hh">Date of Birth</span><br>
                            <input class="login-page_input" type="date" data-date-format="DD MMMM YYYY" ng-model="dob" name="dob" autocomplete="off" required>
                        </label>						
                        <label class="login-page_label">
                            <span class="hh">Gender</span><br>
                            <input type="radio" name="gender" value="male" ng-model="gender" checked><span class="hh"> Male</span><br>
                            <input type="radio" name="gender" value="female" ng-model="gender" ><span class="hh"> Female</span>
                        </label>
						<label class="login-page_label">
                            <input class="login-page_input" type="address" name="address" ng-model="address" autocomplete="off" required>
                            <span class="login-page_placeholder">Address</span>
                        </label>
						<label class="login-page_label">
                            <input class="login-page_input" type="text" name="city" ng-model="city" autocomplete="off" required>
                            <span class="login-page_placeholder">City</span>
                        </label>
						<label class="login-page_label">
                            <input class="login-page_input" type="text" name="state" ng-model="state" autocomplete="off" required>
                            <span class="login-page_placeholder">State</span>
                        </label>
                        <label class="login-page_label">
                            <input class="login-page_input" type="text" name="zip code" ng-model="zipCode" autocomplete="off" required>
                            <span class="login-page_placeholder">Zip Code</span>
                        </label>
                        <div class="signup-section_submit">
                            <div class="signup-page-submit-btn">
                                <input type="submit" name="submit-signup" value="submit" ng-click="signUp()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>

</html>